<!--%- include('header') -%-->

<body>
<div>
    <div>
        <h1>Növényeink listája        </h1>
    </div>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-baqh{text-align:center;vertical-align:top}
        .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
        .tg .tg-0lax{text-align:center;vertical-align:top}
    </style>
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-amwm">Növény neve</th>
            <th class="tg-amwm">Botanikus</th>
            <th class="tg-amwm">Virágának íze</th>
            <th class="tg-amwm">Virágzás ideje</th>
        </tr>
        </thead>
        <tbody>
        <%
        novenyek.forEach(function(noveny) {
        %>
            <tr>
                <td class="tg-baqh"><%= noveny.nev %></td>
                <% let bot = botanikus.find(b => b._id.toString() === noveny._botanikus.toString());%>
                <td class="tg-baqh"><%= bot ? bot.nev : 'Unknown Botanikus' %></td>
                <td class="tg-baqh"><%= noveny.viragIze %></td>
                <td class="tg-baqh"><%= noveny.viragzasIdeje %></td>
                <td class="text-right">
                <a class="btn btn-primary" href="/novenyek/edit/<%= noveny._id %>" name="btnEditNoveny">Módosítás</a>
                <a class="btn btn-primary" href="/novenyek/del/<%= noveny._id %>" name="btnDelNoveny">Törlés</a>
              </td>
              </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
        <a class="btn btn-primary" href="/novenyek/new" name="btnUjNoveny">Új növény felvétele</a>
            <a class="btn btn-primary" href="/botanikusok" name="btnBotanikusok">Botanikusok</a>
        </div>
    </div>
</body>

<!--%- include('footer') -%-->